:root{
  --bg: #000000;
  --btn: #20022b;
  --font:#fff;
}
body{
  background: var(--bg);
  color: var(--font);
  position: relative;
}
.container{
 display: flex;
 flex-direction: column;
 margin: auto;
 max-width: 350px;
 align-items: center;
 justify-content: center;
 height: 100vh;
 font-size: 2rem;
}

#valor{
  font-size: 4rem;
}
.botoes{
  padding-top: 3rem;
}
.botoes .btn{
  padding: .8rem 1.3rem;
  text-transform: uppercase;
  background: var(--btn);
  border: none;
  color: var(--font);
  border-radius: 5px;
}
.detalhe1{
  position: fixed;
  left:-40px;
  top:-40px;
  background: var(--btn);
  padding: 3rem;
  border-radius: 50%;
}
.detalhe2{
  position: fixed;
  right:-40px;
  bottom:-40px;
  background: var(--btn);
  padding: 3rem;
  border-radius: 50%;
  
}
p{
  position: fixed;
  right:-3rem;
  transform: rotate(270deg);
  font-size: 1.2rem;
  
}
small:hover i{
  scale: 2;
}